@import "tailwindcss";

@theme {
  --color-primary: #0053db;
  --color-primary-dim: #0048c1;
  --color-primary-container: #dbe1ff;
  --color-on-primary: #f8f7ff;
  --color-on-primary-container: #0048bf;
  
  --color-secondary: #526074;
  --color-secondary-dim: #465468;
  --color-secondary-container: #d5e3fc;
  --color-on-secondary: #f8f8ff;
  --color-on-secondary-container: #455367;
  
  --color-tertiary: #006d4a;
  --color-tertiary-dim: #005f40;
  --color-tertiary-container: #69f6b8;
  --color-on-tertiary: #e6ffee;
  --color-on-tertiary-container: #005a3c;
  
  --color-error: #9f403d;
  --color-error-dim: #4e0309;
  --color-error-container: #fe8983;
  --color-on-error: #fff7f6;
  --color-on-error-container: #752121;
  
  --color-surface: #f7f9fb;
  --color-surface-dim: #cfdce3;
  --color-surface-bright: #f7f9fb;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f0f4f7;
  --color-surface-container: #e8eff3;
  --color-surface-container-high: #e1e9ee;
  --color-surface-container-highest: #d9e4ea;
  
  --color-on-surface: #2a3439;
  --color-on-surface-variant: #566166;
  --color-outline: #717c82;
  --color-outline-variant: #a9b4b9;
  
  --color-inverse-surface: #0b0f10;
  --color-inverse-on-surface: #9a9d9f;
  --color-inverse-primary: #618bff;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for horizontal scrolling areas */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
